<!-- <div class="card text-center">
  <img
    [src]="movie.img"
    class="card-img-top"
    alt="..."
    (click)="toggleDetail()"
  />
  <div class="card-body">
    <div class="d-flex justify-content-between fw-500">
      <div class="text-start mr-2">{{ movie.name }}</div>
      <div>
        <span class="badge rounded-pill bg-success">
          {{ movie.price | currency }}
        </span>
      </div>
    </div>
  </div>
  <app-movie-details
    class="card-body"
    *ngIf="showDetail"
    [detail]="movie.detail"
  >
  </app-movie-details>
  <div class="p-2">
    <button
      type="button"
      class="btn btn-sm btn-outline-primary"
      (click)="toggleDetail()"
    >
      {{ showDetail ? "Menos" : "Más" }} información
    </button>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" (click)="togleMovieInCart()">
      {{ isMovieInCart() ? "Eliminar del" : "Agregar al" }} carro
    </button>
  </div>
</div>
 -->

<mat-card class="example-card">
  <img mat-card-image [src]="movie.img" [alt]="movie.name" />
  <mat-card-header class="jc-between mat-card-header-text-display-none">
    <div class="mr15">
      <mat-card-title>{{ movie.name }}</mat-card-title>
      <mat-card-subtitle>{{ movie.detail.category }}</mat-card-subtitle>
    </div>
    <button mat-mini-fab color="accent" class="not-clickeable">
      ${{ movie.price }}
    </button>
  </mat-card-header>
  <mat-card-content *ngIf="showDetail">
    <app-movie-details [detail]="movie.detail"></app-movie-details>
  </mat-card-content>
  <mat-card-actions class="d-flex-center-between">
    <button mat-button (click)="toggleDetail()">
      {{ showDetail ? "Menos" : "Más" }} información
    </button>
    <button
      mat-fab
      [color]="isMovieInCart() ? 'warn' : 'primary'"
      aria-label="Add or delete from cart"
      (click)="togleMovieInCart()"
    >
      <mat-icon *ngIf="isMovieInCart()">remove_shopping_cart</mat-icon>
      <mat-icon *ngIf="!isMovieInCart()">add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
