<div class="card text-center">
  <img
    [src]="movie.img"
    class="card-img-top"
    alt="..."
    (click)="toggleDetail()"
  />
  <div class="card-body">
    <div class="d-flex justify-content-between fw-500">
      <div class="text-start mr-2">{{ movie.name }}</div>
      <div>
        <span class="badge rounded-pill bg-success">
          {{ movie.price | currency }}
        </span>
      </div>
    </div>
  </div>
  <app-movie-details
    class="card-body"
    *ngIf="showDetail"
    [detail]="movie.detail"
  >
  </app-movie-details>
  <div class="p-2">
    <button
      type="button"
      class="btn btn-sm btn-outline-primary"
      (click)="toggleDetail()"
    >
      {{ showDetail ? "Menos" : "Más" }} información
    </button>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" (click)="togleMovieInCart()">
      {{ isMovieInCart() ? "Eliminar del" : "Agregar al" }} carro
    </button>
  </div>
</div>
