/* You can add global styles to this file, and also import other style files */
.fw-500 {
  font-weight: 500 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 80%;
}
