/* You can add global styles to this file, and also import other style files */
.fw-500 {
  font-weight: 500 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  margin-bottom: 15px;
}

.jc-between {
  display: flex !important;
  justify-content: space-between;
}

.d-flex-center-between {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.d-flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 80%;
}

.p10 {
  padding: 10px;
}
.pt30 {
  padding-top: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}

.not-clickeable {
  pointer-events: none;
}
